body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 80rem;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  padding-top: 3.25rem;
  padding-bottom: 1.25rem;
  overflow: auto;
}

.header {
  margin-bottom: 3.125rem;
}

.header__logotip {
  width: 18.5rem;
  height: 4.625rem;
  margin-bottom: 2.5rem;
}

.header__navigation ul {
  margin: 0 0;
  padding: 0;
}

.header__navigation {
  height: 4.25rem;
  background-color: #35444f;
  font-size: 1.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.header__navigation ul > li {
  display: inline-block;
}

.header__navigation ul li > a {
  padding-top: 1.25rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  padding-bottom: 1.25rem;
  display: block;
  color: white;
}

.header__navigation ul li:hover {
  background-color: #222f3a;
  transition: all 0.4s;
  cursor: pointer;
}

.leftmenu {
  display: inline-block;
  width: 21.5rem;
  height: 25rem;
  font-size: 1.7rem;
  margin-right: 3.125rem;
  border: 0.06rem solid black;
  vertical-align: top;
  }

.leftmenu ul {
  margin: 0% 0%;
  padding: 0%;
}

.leftmenu ul li > a {
color: #495863;
padding-left: 2.625rem;
padding-bottom: 2rem;
padding-top: 1.05rem;
display: block;
}

.leftmenu ul li:hover {
  background: #dbdbdb;
  transition: all 0.4s;
  cursor: pointer;
}

.leftmenu ul li > a:hover {
  text-indent: 1.7rem;
  color: black;
  cursor: pointer;
}

.box {
  display: inline-block;
  width: 54.8rem;
  margin-top: 0;
  vertical-align: top;
}

.box__in {
  border: 0.06rem solid black;
  height: 33rem;
}

.box__in img {
  width: 20rem;
  height: 23.8rem;
  display: block;
  margin: 4.625rem auto;
}

.box__text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.box__text p {
  margin-top: 1.875rem;
}

.footer {
  background-color: #b4b7ba;
  height: 3.125rem;
}

.footer__menu ul li {
display: inline-block;
}

.footer__menu ul {
  margin: 0 0;
  padding-left: 0;
}

.footer__menu {
  padding-top: 0.6rem;
  padding-left: 2rem;
}

.footer__menu ul li:not(.footer__menu__copy) {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

.footer__menu ul li > a {
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
  color: black;
}

.footer__menu__copy {
  font-size: 1.3rem;
  padding-left: 11.8rem;
}

.footer__menu ul li > a:hover {
color: #3181a6;
border-bottom: #3181a6 solid 0.06rem;
transition: all 0.4s;
cursor: pointer;
}